*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
    {
        display: flex;
        color: black;
        background-color: aquamarine;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
        padding: 0px 10px;
        background: url(images/pic.jpeg);
        background-position: center;
        background-size: cover;
    }
.wrapper
{
    background-color: blanchedalmond;
}

h2{
        margin-bottom: 20px;
        color: #fff;
    }

    /* .main
    {
        background-color: chocolate;
        border-color: black;
        position: center;
        max-width: 350px;
        width: 100%;
        border-radius: 5px;

    } */
